:root{
    --font-color-white: #FFFFFF;
    --font-color-black: #020F14;
}


@media only screen and (min-width : 320px) and (max-width : 480px) {

    /* ====================================================== */

    /* ---------- Navbar ---------- */

    .nav-link{
        margin-left: 0;
        background-color: #FFFFFF;
        color: var(--font-color-black);
    }

    .nav-link:hover{
        color: var(--font-color-black);
    }
    

    /* ---------- End Navbar ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Main Content ---------- */

    #main-content{
        position: relative;
        overflow: hidden;
        padding: 16% 0;
    }
    
    .heading-title .title-one h1{
        margin-top: 15%;
        font-size: 40px;
        font-weight: 600;
    }
    
    .heading-title .title-two h5{
        font-size: 24px;
        font-weight: 500;
    }
    
    .heading-title .title-three h5{
        margin-top: 4%;
        font-size: 18px;
        font-weight: 200;
    }

    /* ---------- End Main Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Vision Missions Content ---------- */

    #vision-missions-content{
        margin-top: 12%;
        margin-bottom: 6%;
    }
    
    #vision-missions-content .vision-missions-describe h5{
        font-size: 20px;
    }
    
    #vision-missions-content .vision-missions-describe p{
        font-size: 18px;
    }

    #vision-missions-content .selected-button-outlook{
        margin-top: 10%;
    }

    #vision-missions-content .selected-button-outlook > :nth-child(1),
    #vision-missions-content .selected-button-outlook > :nth-child(2),
    #vision-missions-content .selected-button-outlook > :nth-child(3),
    #vision-missions-content .selected-button-outlook > :nth-child(4){
        justify-content: start !important;
    }
    
    #vision-missions-content .selected-button-outlook button{
        font-size: 16px;
        width: 100%;
    }

    /* ---------- End Vision Missions Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Solutions & Facilities Content ---------- */

    #solutions-facilities-content{
        margin-top: 12%;
        margin-bottom: 6%;
    }

    #solutions-facilities-content .solutions-facilities-describe .solutions-content,
    #solutions-facilities-content .solutions-facilities-describe .facilities-content{
        width: calc(100% - 20px);
        margin: 2% auto;
        padding: 4%;
    }

    #solutions-facilities-content .solutions-content h5,
    #solutions-facilities-content .facilities-content h5
    {
        margin-top: 15%;
    }

    #solutions-facilities-content .solutions-content h4,
    #solutions-facilities-content .facilities-content h4
    {
        font-size: 22px;
    }

    #solutions-facilities-content .solutions-content p,
    #solutions-facilities-content .facilities-content p{
        font-size: 18px;
    }

    .swiper-slide .overlay {
        font-size: 1.1rem;
    }

    /* ---------- End Solutions & Facilities Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Awards & Recognitions Content ---------- */

    #awards-recognitions-content{
        margin-top: 12%;
    }
    
    #awards-recognitions-content .awards-recognitions-title h1{
        font-size: 36px;
    }
    
    #awards-recognitions-content .awards-recognitions-title p{
        font-size: 20px;
        font-weight: 300;
    }
    
    #awards-recognitions-content hr{
        margin-top: 2%;
    }
    
    #awards-recognitions-content .awards-describe{
        margin-top: 2%;
    }
    
    #awards-recognitions-content .awards-describe h1{
        font-size: 24px;
    }

    #awards-recognitions-content .awards-describe img{
        width: 100px;
        height: auto;
    }
    
    #awards-recognitions-content button{
        margin-top: 16%;
        height: 40px;
        width: 40%;
    }

    /* ---------- End Awards & Recognitions Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- SDGS Content ---------- */


    #sdgs-title-content{
        margin-top: 12%;
        position: relative;
        overflow: hidden;
        padding: 16% 0 16% 0;
    }
    
    #sdgs-title-content .sdgs-title-background{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url('../images/sdgs-bg.png');
        background-size: cover;
    }
    
    #sdgs-title-content h1{
        font-size: 34px;
        color: var(--font-color-white);
        text-align: center;
        font-weight: 600;
    }
    
    #sdgs-title-content p{
        margin-top: 2%;
        color: var(--font-color-white);
        text-align: center;
        font-size: 18px;
    }
    
    #sdgs-title-content .btn-sdgs-title-solutions{
        margin-top: 4%;
        width: 100%;
        border-radius: 20px;
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        color: var(--font-color-black);
        font-weight: 600;
        transition: 0.3 all ease-in-out;
    }
    
    #sdgs-title-content .btn-sdgs-title-solutions:hover{
        background-color: var(--background-color-button);
        color: var(--font-color-white);
        border: 1px solid #012E80;
    }
    
    #sdgs-title-content .btn-sdgs-title-learn-more{
        margin-top: 4%;
        width: 100%;
        border-radius: 20px;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        color: var(--font-color-white);
        font-weight: 600;
        transition: 0.3 all ease-in-out;
    }
    
    #sdgs-title-content .btn-sdgs-title-learn-more:hover{
        background-color: var(--background-color-button);
        color: var(--font-color-white);
        border: 1px solid #012E80;
    }
    
    /* ---------- End SDGS Content ---------- */
    
    /* ====================================================== */


    /* ====================================================== */

    /* ---------- SDGS Describe Content ---------- */

    #sdgs-describe-content{
        margin-top: 12%;
    }

    #sdgs-describe-content .card{
        width: 80%;
        margin: 0 auto;
    }

    #sdgs-describe-content .card-text{
        font-size: 20px;
        text-align: center;
    }

    /* ---------- End SDGS Describe Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Impact Content ---------- */

    #impact-content{
        margin-top: 12%;
    }

    #impact-content h1{
        font-size: 28px;
    }

    #impact-content p{
        margin-top: 4%;
        font-size: 20px;
    }

    #impact-content .btn-see-impact{
        margin-top: 8%;
    }

    #impact-content .search-icon-impact{
        margin-top: -2%;
        width: 18px;
    }

    #impact-content span{
        font-size: 18px;
        color: var(--font-color-blue);
        font-weight: 600;
        margin-left: 2%;
    }

    #impact-content .card-impact{
        margin-top: 6%;
    }
    
    #impact-content .card-impact-detail{
        margin-top: 4%;
    }

    #impact-content .card{
        height: 100%;
        border: none;
        transition: 0.3s all ease-in-out;
    }

    #impact-content .card:hover{
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }

    #impact-content .card-title{
        font-size: 30px;
        text-align: center;
        font-weight: 600;
    }

    #impact-content .card-text{
        text-align: center;
        font-size: 18px;
    }

    #impact-content .card-text span{
        font-size: 12px;
        color: var(--font-color-black);
        margin-left: -1%;
    }

    /* ---------- End Impact Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Client Content ---------- */

    #client-content{
        margin-top: 12%;
    }
    
    #client-content h5{
        font-size: 20px;
    }
    
    #client-content .client-logo{
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    #client-content .client-logo img{
        width: 100px;
        height: 36px;
    }

    /* ---------- End Client Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Media Content ---------- */

    #media-content{
        margin-top: 12%;
    }

    #media-content h1{
        font-size: 36px;
    }

    #media-content p{
        font-size: 20px;
    }

    #media-content .media-card .media-describe{
        margin-top: 6%;
    }

    #media-content .media-card .media-image{
        border-radius: 30px 30px;
    }

    #media-content .media-card .card-title{
        font-weight: 600;
    }

    /* ---------- End Media Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Contact Content ---------- */

    #contact-content{
        margin-top: 12%;
    }

    #contact-content .contact-describe{
        padding: 8%;
    }

    #contact-content h1{
        font-size: 30px;
    }

    #contact-content .btn-contact{
        margin-top: 12%;
        width: 40%;
    }

    /* ---------- End Contact Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Footer Content ---------- */

    #footer-content span{
        color: var(--font-color-white);
        font-size: 20px;
        margin-left: 0;
    }

    #footer-content img{
        width: 15%;
    }

    #footer-content .footer-describe{
        padding: 6% 4%;
    }

    #footer-content .company-describe{
        text-align: center;
    }

    /* ---------- End Footer Content ---------- */

    /* ====================================================== */

}