:root{
    --font-color-white: #FFFFFF;
    --font-color-black: #020F14;
}


@media only screen and (min-width : 320px) and (max-width : 480px) {

    /* ====================================================== */

    /* ---------- Navbar ---------- */

    .nav-link{
        margin-left: 0;
        background-color: #FFFFFF;
        color: var(--font-color-black);
    }

    .nav-link:hover{
        color: var(--font-color-black);
    }
    

    /* ---------- End Navbar ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Main Content ---------- */

    #main-content{
        position: relative;
        overflow: hidden;
        padding: 16% 0;
    }
    
    .heading-title .title-one h5{
        margin-top: 25%;
        font-size: 20px;
        font-weight: 500;
    }
    
    .heading-title .title-two h1{
        font-size: 84px;
        font-weight: 700;
    }
    
    .heading-title .title-two :nth-child(2){
        display: flex;
    }
    
    .heading-title .title-two :nth-child(2) .main-title-vector{
        height: 40px;
        width: 40px;
        margin: auto 4%;
    }
    
    .heading-title .title-three h5{
        margin-top: 6%;
        font-size: 22px;
        font-weight: 200;
    }

    /* ---------- End Main Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Vision Missions Content ---------- */

    #vision-missions-content{
        margin-top: 12%;
        margin-bottom: 6%;
    }
    
    #vision-missions-content .vision-missions-describe h5{
        font-size: 20px;
    }
    
    #vision-missions-content .vision-missions-describe p{
        font-size: 18px;
    }

    #vision-missions-content .selected-button-outlook{
        margin-top: 10%;
    }

    #vision-missions-content .selected-button-outlook > :nth-child(1),
    #vision-missions-content .selected-button-outlook > :nth-child(2),
    #vision-missions-content .selected-button-outlook > :nth-child(3),
    #vision-missions-content .selected-button-outlook > :nth-child(4){
        justify-content: start !important;
    }
    
    #vision-missions-content .selected-button-outlook button{
        font-size: 16px;
        width: 100%;
    }

    /* ---------- End Vision Missions Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Solutions & Facilities Content ---------- */

    #solutions-facilities-content{
        margin-top: 10%;
        margin-bottom: 6%;
    }

    #solutions-facilities-content .solutions-facilities-describe .solutions-content,
    #solutions-facilities-content .solutions-facilities-describe .facilities-content{
        width: calc(100% - 20px);
        margin: 2% auto;
        padding: 4%;
    }

    #solutions-facilities-content .solutions-content h5,
    #solutions-facilities-content .facilities-content h5
    {
        margin-top: 15%;
    }

    #solutions-facilities-content .solutions-content h4,
    #solutions-facilities-content .facilities-content h4
    {
        font-size: 22px;
    }

    #solutions-facilities-content .solutions-content p,
    #solutions-facilities-content .facilities-content p{
        font-size: 18px;
    }

    .swiper-slide .overlay {
        font-size: 1.1rem;
    }

    /* ---------- End Solutions & Facilities Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Awards & Recognitions Content ---------- */

    #awards-recognitions-content{
        margin-top: 10%;
    }
    
    #awards-recognitions-content .awards-recognitions-title h1{
        font-size: 36px;
    }
    
    #awards-recognitions-content .awards-recognitions-title p{
        font-size: 20px;
        font-weight: 300;
    }
    
    #awards-recognitions-content hr{
        margin-top: 2%;
    }
    
    #awards-recognitions-content .awards-describe{
        margin-top: 2%;
    }
    
    #awards-recognitions-content .awards-describe h1{
        font-size: 24px;
    }
    
    #awards-recognitions-content button{
        height: 40px;
        width: 40%;
    }
    
    #awards-recognitions-content button img{
        height: 12px;
        margin-left: 8%;
    }

    /* ---------- End Awards & Recognitions Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Contact Content ---------- */

    #contact-content{
        margin-top: 10%;
    }
    
    #contact-content h1{
        font-size: 78px;
    }
    
    #contact-content img{
        display: none;
    }
    
    #contact-content p{
        margin-bottom: 16%;
        padding: 4% 0 0 0;
        text-align: start;
        font-size: 20px;
    }

    #contact-content .mouse-follower img{
        display: inline-block;
        height: 45px;
        width: auto;
    }
    
    #contact-content .mouse-follower p{
        color: var(--font-color-black);
        font-size: 12px;
        font-weight: 600;
        margin-top: 60%;
        margin-left: 15%;
        float: left;
    }
    
    @keyframes grow {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    /* ---------- End Contact Content ---------- */

    /* ====================================================== */


    /* ====================================================== */

    /* ---------- Client Content ---------- */

    #client-content{
        margin-top: 10%;
    }
    
    #client-content h5{
        font-size: 20px;
    }
    
    #client-content .client-logo{
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    #client-content .client-logo img{
        width: 100px;
        height: 36px;
    }

    /* ---------- End Client Content ---------- */

    /* ====================================================== */

}