*{
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Helvetica', sans-serif;
}

:root{
    --font-color-white: #FFFFFF;
    --font-color-black: #020F14;
    --background-color-button: #012E80;
    --background-color-retangle-one: #F5F5F5;
    --background-color-retangle-two: #012E80;
}


/* ====================================================== */

/* ---------- Navbar ---------- */

.navbar{
    padding: 10px 0;
    height: 90px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out
}

.navbar-scrolled {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.nav-link{
    font-size: 18px;
    margin-left: 40px;
    color: var(--font-color-white);
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    transition: background-color 0.3s ease-in-out
}

.nav-link-scrolled{
    font-size: 18px;
    margin-left: 40px;
    color: var(--font-color-black);
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

.nav-link:hover{
    color: var(--font-color-white);
}

/* ---------- End Navbar ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- Main Content ---------- */

#main-content{
    position: relative;
    overflow: hidden;
    padding: 16% 0 10% 0;
}

#main-content .background-main-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../images/bg-main-content.png');
    background-size: cover;
}

.heading-title{
    position: relative;
    color: var(--font-color-white);
}

.heading-title .title-one h5{
    font-size: 22px;
    font-weight: 500;
}

.heading-title .title-two h1{
    font-size: 154px;
    font-weight: 700;
}

.heading-title .title-two :nth-child(2){
    display: flex;
}

.heading-title .title-two :nth-child(2) .main-title-vector{
    height: 80px;
    width: 80px;
    margin: auto 4%;
}

.heading-title .title-three h5{
    margin-top: 6%;
    font-size: 28px;
    font-weight: 200;
}


/* ---------- End Main Content ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- Vision & Missions Content ---------- */

#vision-missions-content{
    margin-top: 6%;
}

#vision-missions-content .vision-missions-describe h5{
    font-size: 24px;
    font-weight: 600;
}

#vision-missions-content .vision-missions-describe p{
    margin-top: 4%;
    font-size: 20px;
    font-weight: 200;
}

#vision-missions-content .vision-missions-describe button{
    margin-top: 5%;
    width: 35%;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--background-color-button);
    border: var(--background-color-button) 1px solid ;
}

#vision-missions-content button img{
    width: 13px;
    margin-left: 10px;
}

#vision-missions-content .selected-button-outlook button{
    position: relative;
    font-size: 18px;
    width: 80%;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 4%;
    background-color: transparent;
    border: none;
    color: var(--font-color-black);
    text-align: right;
    transition: 0.3s all ease-in-out;
}

#vision-missions-content .selected-button-outlook button:hover{
    background-color: var(--background-color-button);
    border: var(--background-color-button) 1px solid;
    color: var(--font-color-white);
}

#vision-missions-content .selected-button-outlook span{
    position: absolute;
    top: 2px; 
    left: 10%; 
    transform: translateX(-50%);
    font-size: 10px;
    color: var(--font-color-black);
}

#vision-missions-content .selected-button-outlook button:hover span{
    color: var(--font-color-white);
}

#vision-missions-content .selected-button-outlook .active{
    background-color: var(--background-color-button);
    border: var(--background-color-button) 1px solid;
    color: var(--font-color-white);
}

#vision-missions-content .selected-button-outlook .active span{
    color: var(--font-color-white);
}

/* ---------- End Vision & Missions Content ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- Solutions & Facilities Content ---------- */

#solutions-facilities-content{
    margin-top: 6%;
}

#solutions-facilities-content .solutions-facilities-describe{
    display: flex;
    justify-content: space-between;
}

#solutions-facilities-content .solutions-facilities-describe .solutions-content,
#solutions-facilities-content .solutions-facilities-describe .facilities-content{
    width: calc(50% - 20px);
}

#solutions-facilities-content .solutions-content{
    padding: 2%;
    background-color: var(--background-color-retangle-one);
    border-radius: 20px;
    margin-right: 5px;
}

#solutions-facilities-content .solutions-content button,
#solutions-facilities-content .facilities-content button 
{
    border-radius: 30px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: var(--font-color-black);
    font-weight: 600;
}

#solutions-facilities-content .solutions-content h5{
    margin-top: 30%;
    font-weight: 600;
    font-size: 16px;
    color: var(--font-color-black);
}

#solutions-facilities-content .solutions-content h4{
    margin-top: 8%;
    font-weight: 600;
    font-size: 24px;
    color: var(--font-color-black);
}

#solutions-facilities-content .solutions-content p{
    margin-top: 8%;
    font-size: 20px;
    color: var(--font-color-black);
    font-weight: 200;
}

#solutions-facilities-content .facilities-content{
    padding: 2%;
    background-color: var(--background-color-retangle-two);
    border-radius: 20px;
    margin-left: 5px;
}


#solutions-facilities-content .facilities-content h5{
    margin-top: 30%;
    font-weight: 600;
    font-size: 16px;
    color: var(--font-color-white);
}

#solutions-facilities-content .facilities-content h4{
    margin-top: 8%;
    font-weight: 600;
    font-size: 24px;
    color: var(--font-color-white);
}

#solutions-facilities-content .facilities-content p{
    margin-top: 8%;
    font-size: 20px;
    color: var(--font-color-white);
    font-weight: 200;
}

.swiper-slide {
    position: relative;
    display: inline-block;
    height: 100%;
}


.swiper-slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--font-color-white);
    font-size: 1.5rem;
    padding: 10px 20px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px;
}

.swiper-slide:hover .overlay {
    opacity: 1;
    border-radius: 20px;
}

/* ---------- End Solutions & Facilities Content ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- Awards & Recognitions Content ---------- */

#awards-recognitions-content{
    margin-top: 6%;
}

#awards-recognitions-content .awards-recognitions-title h1{
    font-size: 54px;
    font-weight: 600;
}

#awards-recognitions-content .awards-recognitions-title p{
    font-size: 22px;
    font-weight: 300;
}

#awards-recognitions-content hr{
    margin-top: 2%;
}

#awards-recognitions-content .awards-describe{
    margin-top: 2%;
}

#awards-recognitions-content .awards-describe h1{
    font-size: 28px;
}

#awards-recognitions-content button{
    margin-top: 4%;
    background-color: var(--background-color-button);
    border: var(--background-color-button) 1px solid;
    color: var(--font-color-white);
    height: 40px;
    width: 14%;
    border-radius: 20px;
    cursor: pointer;
}

#awards-recognitions-content button img{
    height: 12px;
    margin-left: 8%;
}

/* ---------- End Awards & Recognitions Content ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- Contact Content ---------- */

#contact-content{
    margin-top: 6%;
    position: relative;
    overflow: hidden;
}

#contact-content .background-contact-content{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--background-color-retangle-two);
}

#contact-content h1{
    margin: auto 0;
    padding: 16% 0;
    font-size: 108px;
    font-weight: 600;
    color: var(--font-color-white);
}

#contact-content img{
    padding: 24% 0 0 0;
    height: auto;
    width: auto;
}

#contact-content p{
    margin: auto 0;
    padding: 24% 0 0 0;
    font-size: 24px;
    font-weight: 300;
    color: var(--font-color-white);
    text-align: end;
}

#contact-content .mouse-follower p{
    color: var(--font-color-black);
    font-size: 12px;
    font-weight: 600;
    margin-top: 42%;
    margin-left: 15%;
    float: left;
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


/* ---------- End Contact Content ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- Client Content ---------- */

#client-content{
    margin-top: 6%;
}

#client-content h5{
    font-size: 24px;
    font-weight: 600;
}

#client-content .client-logo{
    margin-top: 2%;
    margin-bottom: 2%;
}

#client-content .client-logo img{
    width: 130px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

/* ---------- End Client Content ---------- */

/* ====================================================== */