*{
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Helvetica', sans-serif;
}

:root{
    --font-color-white: #FFFFFF;
    --font-color-black: #020F14;
    --background-color-button: #012E80;
}


/* ====================================================== */

/* ---------- Navbar ---------- */

.navbar{
    padding: 10px 0;
    height: 90px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out
}

.navbar-scrolled {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.nav-link{
    font-size: 18px;
    margin-left: 40px;
    color: var(--font-color-white);
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    transition: background-color 0.3s ease-in-out
}

.nav-link-scrolled{
    font-size: 18px;
    margin-left: 40px;
    color: var(--font-color-black);
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

.nav-link:hover{
    color: var(--font-color-white);
}

/* ---------- End Navbar ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- Main Content ---------- */

#main-content{
    position: relative;
    overflow: hidden;
    padding: 16% 0 10% 0;
}

#main-content .background-main-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../images/bg-main-content.png');
    background-size: cover;
}

.heading-title{
    position: relative;
    color: var(--font-color-white);
}

.heading-title .title-one h5{
    font-size: 22px;
    font-weight: 500;
}

.heading-title .title-two h1{
    font-size: 154px;
    font-weight: 700;
}

.heading-title .title-two :nth-child(2){
    display: flex;
}

.heading-title .title-two :nth-child(2) .main-title-vector{
    height: 80px;
    width: 80px;
    margin: auto 4%;
}

.heading-title .title-three h5{
    margin-top: 6%;
    font-size: 28px;
    font-weight: 200;
}


/* ---------- End Main Content ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- Client Content ---------- */

#client-content{
    margin-top: 6%;
}

#client-content h5{
    font-size: 24px;
    font-weight: 600;
}

#client-content .client-logo{
    margin-top: 2%;
    margin-bottom: 2%;
}

#client-content .client-logo img{
    width: 130px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

/* ---------- End Client Content ---------- */

/* ====================================================== */


/* ====================================================== */

/* ---------- Vision & Missions Content ---------- */

#vision-missions-content{
    margin-top: 6%;
    margin-bottom: 6%;
}

#vision-missions-content .vision-missions-describe h5{
    font-size: 24px;
    font-weight: 600;
}

#vision-missions-content .vision-missions-describe p{
    margin-top: 4%;
    font-size: 20px;
    font-weight: 200;
}

#vision-missions-content .vision-missions-describe button{
    margin-top: 5%;
    width: 35%;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--background-color-button);
    border: var(--background-color-button) 1px solid ;
}

#vision-missions-content button img{
    width: 13px;
    margin-left: 10px;
}

#vision-missions-content .selected-button-outlook button{
    position: relative;
    font-size: 18px;
    width: 80%;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 4%;
    background-color: transparent;
    border: none;
    color: var(--font-color-black);
    text-align: right;
    transition: 0.3s all ease-in-out;
}

#vision-missions-content .selected-button-outlook button:hover{
    background-color: var(--background-color-button);
    border: var(--background-color-button) 1px solid;
    color: var(--font-color-white);
}

#vision-missions-content .selected-button-outlook span{
    position: absolute;
    top: 2px; 
    left: 10%; 
    transform: translateX(-50%);
    font-size: 10px;
    color: var(--font-color-black);
}

#vision-missions-content .selected-button-outlook button:hover span{
    color: var(--font-color-white);
}

#vision-missions-content .selected-button-outlook .active{
    background-color: var(--background-color-button);
    border: var(--background-color-button) 1px solid;
    color: var(--font-color-white);
}

#vision-missions-content .selected-button-outlook .active span{
    color: var(--font-color-white);
}

/* ---------- End Vision & Missions Content ---------- */

/* ====================================================== */